button.backoffice {
    width: 300px;
    height: 80px;
    margin: 20px;
    background-color: white;
}

button.backoffice:hover {
    background-color: #ededed;
}

.onEdit {
    background-color: aliceblue;
    color: blue;
}