button.backoffice {
    width: 300px;
    height: 80px;
    margin: 20px;
    background-color: white;
}

button.backoffice:hover {
    background-color: #ededed;
}

.onEdit {
    background-color: aliceblue;
    color: blue;
}

/* Dropdown Button */

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 20px 30px;
    outline: 0;
    width: 600px
}

.backoffice-container input {
    width: 70%;
    float: left;
    margin: 0px 3px 0px 0px;
}

.backoffice-select {
    width: 250px;
    height: 30px
}

.backoffice-header {
    min-width: 160px;
    text-align: center;
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-left-radius: 1pc;
    border-bottom-right-radius: 1pc;
}

.backoffice-header-dropdown {
    min-width: 160px;
    text-align: center;
    cursor: pointer;
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-left-radius: 1pc;
    border-bottom-right-radius: 1pc;
}

.backoffice-header-dropdown:hover {
    background-image: linear-gradient( transparent, rgb(228, 228, 228));
}

.backoffice-header-dropdown-item {
    min-width: 160px;
    text-align: center;
    cursor: pointer;
    border-radius: 1pc;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.collaspe-header {
    padding: 0% 3%;
    /* border: 1px solid rgb(223, 223, 223); */
}

.DomainHeader {
    background-color: #cee8fe;
}

.ChannelHeader {
    padding: 0px 3% 0px 7%;
    background-color: aliceblue
}

.ChannelHeader span {
    color: #a2a6b0;
}

.CategoryHeader {
    padding: 10px 3% 10px 10%;
}

.CategoryHeader label {
    font-size: 16px;
}

.collaspeHeader {}

.collaspeBody {}