<div id="main-content">
    <div class="text-center">
        <button class="ck-button backoffice">Domain management</button><br />
        <button class="ck-button backoffice">Channel management</button><br />
        <button class="ck-button backoffice">Category management</button>
    </div>
</div>