<div id="main-content">

    <ul class="nav flex-column" style="max-width:300px; left:0px; position:fixed; z-index:2">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
            <a class="nav-link" id="menuHome" href="/backoffice"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Domain">
            <a class="nav-link" id="menuDomain" href="/backoffice-dmn"><span class=" glyphicon glyphicon-king"></span></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Category">
            <a class="nav-link" id="menuCategory" href="/backoffice-cmn"><span class="glyphicon glyphicon-bishop"></span></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Category">
            <a class="nav-link" id="menuUser" href="/backoffice-umn"><span class="glyphicon glyphicon-user"></span></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="File Filter">
            <a class="nav-link submenu" id="menuFileFilter" href="/umn-filefilter"><span class="glyphicon glyphicon-download"></span></a>
        </li>
    </ul>
    <div style="text-align:center;">
        <label class="dropdown-toggle text-uppercase backoffice-header" id="dropdownMenuLink" data-toggle="dropdown">
            User Management
        </label>
    </div>
    <div class="row" style=" margin: 50px 0px 50px 0px;">
        <form class="form-content">
            <label>ที่อยู่อีเมล</label>
            <br />
            <div class="form-group mx-sm-3 mb-2">
                <input type="email" class="form-control" id="txtEmail" placeholder="example@email.com">
            </div>
        </form>
        <form class="form-content">
            <label>เบอร์โทรศัพท์</label>
            <br />
            <div class="form-group mx-sm-3 mb-2">
                <input type="tel" class="form-control" id="txtPhone" placeholder="099-XXX-XXXX">
            </div>
        </form>

        <div class="input-group-append" style="text-align:center;">
            <button class="btn btn-outline-secondary" onclick="findUser()" type="button">ตกลง</button>
        </div>
        <div id="contentInformation" style=" margin: 50px 0px 50px 0px;" hidden>
            <div style="text-align:center;">
                <label>
                    INFORMATION
                </label>
            </div>

            <form class="form-content">
                <div class="form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6 box" style="text-align:center; padding:3%">
                        <label>อีเมล</label><br>
                        <span id="statusEmail" class="glyphicon glyphicon-minus"></span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 box" style="text-align:center; padding:3%">
                        <label>เบอร์โทรศัพท์</label><br>
                        <span id="statusPhone" class="glyphicon glyphicon-minus"></span>
                    </div>
                </div>

                <div style="text-align:center; padding:3%">
                    <label>
                        USER LINK
                    </label>
                </div>
                <div class="form-group">
                    <label>Domain Name</label><br>
                    <div class=" col-xs-10 col-sm-8 col-md-10 ">
                        <select class="backoffice-select form-control" style="width:100%; height:40px; min-width: 300px;"
                            onchange="genLink()" id="sltDomain">
                            {{#each domainList}}
                            <option value="{{this._id}},{{this.hash}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <span class="glyphicon glyphicon-plus coppyLink" id="addDomain"></span>
                </div>
                <div class="form-group">
                    <label>Normal Link</label><br>
                    <div>
                        <input type="text" class="form-control textLink" id="mainLink" placeholder="email@example.com">
                        <span class="glyphicon glyphicon-link coppyLink" onclick="coppyLink('mainLink')"></span>
                        <span class="glyphicon glyphicon-log-in coppyLink" onclick="goPage('#mainLink')"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email Link</label><br>
                    <div>
                        <input type="text" class="form-control textLink" id="emailLink" placeholder="email@example.com">
                        <span class="glyphicon glyphicon-link coppyLink" onclick="coppyLink('emailLink')"></span>
                        <span class="glyphicon glyphicon-log-in coppyLink" onclick="goPage('#emailLink')"></span>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
<style scoped>
    .coppyLink {
        cursor: pointer;
        height: 40px;
        padding: 6px 12px;
    }

    .textLink {
        float: left;
        width: 85%;
        height: 40px;
    }
</style>
<script>
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    $('#menuUser').attr("class", "nav-link active");
    let user = "";
    let hasEmail = false;
    let userDomain = [];

    function checkUserDomainList(domainUser) {
        $("#sltDomain option").each(function () {
            let optionValue = $(this).val();
            let valueArray = optionValue.split(",");
            let optionId = valueArray[0];
            let optionHash = valueArray[1];

            domainUser.map((domain, index) => {
                let name = "#sltDomain option[value=\"" + optionValue + "\"]"
                if (optionId !== domain.domainId) {
                    $(name).hide();
                } else {
                    $(name).show();
                }
            })
        });
    }

    function addUserDomain() {
        let url =
            window.location.href = url;
    }
    function findUser() {
        let domain = $('#sltDomain').val();
        let email = $('#txtEmail').val().trim();
        let phone = $('#txtPhone').val().trim();

        $.ajax({
            type: 'POST',
            data: JSON.stringify({
                "email": email,
                "phone": phone
            }),
            url: 'api/user/info',
            contentType: 'application/json',
            success: function (data) {
                if (data) {
                    user = data.info.user;
                    $('#addDomain').attr("onclick", "addUserDomain('" + user + "')");

                    /* Gen Domain Option*/
                    checkUserDomainList(data.domain)
                    let optionValue = $('#sltDomain').val();
                    let valueArray = optionValue.split(",");
                    let optionId = valueArray[0];
                    let optionHash = valueArray[1];

                    /* Show or hide Information and Generate link*/
                    $('#contentInformation').attr("hidden", false)
                    $('#mainLink').val("/?user=" + user + "&domain=" + optionHash)
                    if (data.info.email) {
                        hasEmail = true;
                        $('#statusEmail').attr('class', 'glyphicon glyphicon-ok');
                        $('#emailLink').val("/subscribe-email/?user=" + user + "&domain=" + optionHash + "&choosed=email")
                    } else {
                        $('#statusEmail').attr('class', 'glyphicon glyphicon-minus');
                        $('#emailLink').attr('hidden', true)
                    }

                    if (data.info.phone) {
                        $('#statusPhone').attr('class', 'glyphicon glyphicon-ok')
                    } else {
                        $('#statusPhone').attr('class', 'glyphicon glyphicon-minus')
                    }

                } else {
                    $('#contentInformation').attr("hidden", true)
                }
            }
        });

    }

    function coppyLink(name) {
        var copyText = document.getElementById(name);
        copyText.select();
        document.execCommand("copy");
    }

    function goPage(name) {
        let url = $(name).val();
        window.location.href = url;
    }

    function genLink() {
        let domain = $('#sltDomain').val();
        if (domain != "") {
            $('#mainLink').val("/?user=" + user + "&domain=" + domain)
            if (hasEmail) {
                $('#emailLink').val("/subscribe-email/?user=" + user + "&domain=" + domain + "&choosed=email")
            }
        }
    }

</script>