<div id="main-content">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Edit</a>
        </li>
    </ul>
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="tbDomainName" placeholder="ชื่อ Domain">
                <input type="text" class="form-control" id="tbChannelName" placeholder="ชื่อ Channel">
                <input type="text" class="form-control" id="tbCategoryName" placeholder="ชื่อ Category">
            </div>
            <button type="submit" class="btn btn-ligth">ค้นหา</button>
        </form>

    </div>
    {{!-- Add Category --}}
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="createName" placeholder="ชื่อ Category">
            </div>
        </form>
        <form class="form-inline">
            <label>กลุ่ม Domain</label>
            <label class="backoffice-helptext">(เลือกได้ 1 กลุ่ม)</label>
            <br />
            <div class="input-group">
                <select class="backoffice-select custom-select" onchange="findChannel()" id="sltDomain">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </form>

        <form class="form-inline">
            <label>กลุ่ม Channel</label>
            <label class="backoffice-helptext">(เลือกได้อย่างน้อย 1 กลุ่ม)</label>
            <br>
            <select name="channelList" multiple>
            </select>
        </form>

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

<style scoped>
    .backoffice-helptext {
        font-size: 15px;
        color: gray
    }
</style>

<!-- /.container -->


<script>
    $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    function findChannel() {
        alert("find..")
        let domainName = $('#sltDomain').val();
        $.ajax({
            type: 'GET',
            url: '/api/domain/',
            contentType: 'application/json',
            success: function (data, textStatus, xhr) {
                console.log(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }
</script>