<div id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span class="line">{{{headText}}}</span></h1>
            </div>
        </div>
    </div>
</div>
<div id="main-content" methods="POST">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <form class="form-horizontal center-block form-content" role="form" id="channel">
                    {{#ifCond hasOne '==' false}}
                    <div class="col-xs-12">
                        <p>คุณไม่ได้ระบุข้อมูลเบอร์โทรศัพท์ หรือ อีเมลไว้ กรุณาติดต่อเจ้าหน้าที่</p>
                    </div>
                    {{/ifCond}}
                    {{#ifCond hasOne '==' true}}
                    <div class="col-xs-12">
                        <p>เลือกได้มากกว่า 1 ช่องทาง</p>
                    </div>
                    <div class="form-group">
                        {{#ifCond hasPhoneSubscribe '&&' hasPhone}}
                        <div class="col-xs-12 ck text-center">
                            <div class="ck-button"><label><input name="chk" type="checkbox" value="mobile"><span>โทรศัพท์</span></label></div>
                        </div>
                        {{/ifCond}}
                        {{#ifCond hasSmsSubscribe '&&' hasPhone}}
                        <div class="col-xs-12 ck text-center">
                            <div class="ck-button"><label><input name="chk" type="checkbox" value="sms"><span>SMS</span></label></div>
                        </div>
                        {{/ifCond}}
                        {{#ifCond hasEmailSubscribe '&&' hasEmail}}
                        <div class="col-xs-12 ck text-center">
                            <div class="ck-button"><label><input name="chk" type="checkbox" value="email"><span>อีเมล</span></label></div>
                        </div>
                        {{/ifCond}}
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <button type="submit" onclick="onSubmit()" class="btn-primary">ตกลง</button>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p><a href="call-centre-2.2.html" class="textlink">หยุดรับข้อมูลข่าวสาร เป็นเวลา 90 วัน</a></p>
                        <p><a href="call-centre-2.3.html" class="textlink">หยุดรับข้อมูลข่าวสารทั้งหมด</a></p>
                    </div>
                    {{/ifCond}}
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<script>
    //for get value from url

    let params = new URLSearchParams(document.location.search.substring(1));
    let paramlink = params.get("link");
    let paramdomain = params.get("domain");
    let paramtype = params.get("type");


    function onSubmit() {
        var selectedChannel = [];
        $('[name="chk"]').each(function () {
            if ($(this).prop('checked') == true) {
                selectedChannel.push($(this).val());
                alert($(this).val());
            }
        });

        if (selectedChannel.indexOf("sms") != -1) {
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    alert('success call subscribe sms page');
                    window.location.href = "http://localhost:3000/subscribe-sms/?choosed=" + selectedChannel;
                }
            });
            // value to next page
        }
    }
</script>