<div class="main-content">
    <form class="form-inline">
        <label>ชื่อ Category</label>
        <label class="backoffice-helptext">*</label>
        <br />
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="createName" placeholder="ชื่อ Category">
        </div>
    </form>
    <form class="form-inline">
        <label>ชื่อ Category</label>
        <label class="backoffice-helptext">*</label>
        <br />
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="createValue" placeholder="รหัส Category">
        </div>
    </form>
    <form class="form-inline">
        <label>กลุ่ม Domain</label>
        <label class="backoffice-helptext">(เลือกได้ 1 กลุ่ม)</label>
        <br />
        <div class="input-group">
            <select class="backoffice-select custom-select" id="sltDomain">
                <option selected>Choose...</option>
                {{#each domainName}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </form>

    <form class="form-inline">
        <label>กลุ่ม Channel</label>
        <label class="backoffice-helptext">(เลือกได้อย่างน้อย 1 กลุ่ม)</label>
        <br>
        <select id="channelList" multiple>
            <option value="sms">SMS</option>
            <option value="email">Email</option>
        </select>
    </form>

    <div class="input-group-append">
        <button class="btn btn-outline-secondary" onclick="createCategory()" type="button">Create</button>
    </div>
</div>

<style scoped>

</style>

<script>
    function createCategory() {
        let categoryName = $('#createName').val().trim();
        let categoryValue = $('#createValue').val().trim();
        let channelList = $('#channelList').val();
        let id = $('#sltDomain').val();

        const smsChannel = channelList.indexOf("sms") != -1 ? true : false;
        const emailChannel = channelList.indexOf("email") != -1 ? true : false;
        $.ajax({
            type: 'PUT',
            data: JSON.stringify({
                "id": id,
                "category": {
                    "name": categoryName,
                    "value": categoryValue,
                    "canSubscribe": true
                },
                "smsChannel": smsChannel,
                "emailChannel": emailChannel
            }),
            url: '/api/domain/add-category',
            contentType: 'application/json',
            success: function (data) {
                location.reload();
            }
        });
    }
</script>