<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-gray">
                    <div class="title">ระยะเวลาหยุดส่งอีเมล 90 วัน คือ</div>
                    <p class="text-blue">{{startDate}} - {{endDate}}</p>
                </div>
                <div class="call">
                    <p class="text-center">หากท่านต้องการรับอีเมลอีกครั้ง กดปุ่มด้านล่างนี้<br>
                        หรือติดต่อ <a href="tel://1685" class="link-call">Call Centre 1685</a></p>
                    <div class="text-center"><button onclick="cancelSnooze()" type="button" class="btn-primary">รับข่าวสารอีกครั้ง</button></div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>

    <script>
        ////get value from url to find another channel
        let params = new URLSearchParams(document.location.search.substring(1));
        let paramlink = params.get("link");
        let paramdomain = params.get("domain");
        function cancelSnooze() {
            $.ajax({
                type: 'PUT',
                data: JSON.stringify({ link: paramlink, domain: paramdomain }),
                url: '/update-unsnooze',
                contentType: 'application/json',
                success: function (data) {
                    window.location.href = "http://localhost:3000/?link=" + paramlink + "&domain=" + paramdomain;
                }
            });
        }
    </script>