<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-gray">
                    <div class="title">ระยะเวลาหยุดส่งอีเมล 90 วัน คือ</div>
                    <p class="text-blue">{{startDate}} - {{endDate}}</p>
                </div>
                <div class="call">
                    <p class="text-center">หากท่านต้องการรับอีเมลอีกครั้ง กดปุ่มด้านล่างนี้<br>
                        หรือติดต่อ <a href="tel://1685" class="link-call">Call Centre 1685</a></p>
                    <div class="text-center"><button type="button" class="btn-primary">รับข่าวสารอีกครั้ง</button></div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>