<div id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span class="line">{{{headText}}}</span></h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-gray">
                    <div class="box-gray-text">
                        <div class="title">ข้อมูลข่าวสารที่ท่านต้องการรับ คือ</div>
                        <p class="text-blue"><strong>SMS</strong></p>
                        <p class="text-blue"><a href="#">ข่าวสารโครงการใหม่</a></p>
                        <p class="text-blue"><a href="#">ความคืบหน้าการก่อสร้างโครงการ </a></p>
                        <hr>
                        <p class="text-blue"><strong>อีเมล</strong></p>
                        <p class="text-blue"><a href="#">ข่าวสารโครงการใหม่</a></p>
                        <p class="text-blue"><a href="#">ความคืบหน้าการก่อสร้างโครงการ </a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>