<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="canonical" href="" />
    <!-- Google+ -->
    <meta itemprop="name" content="">
    <meta itemprop="image" content="">
    <meta itemprop="description" content="">
    <!-- Facebook+ -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SansiriPLC" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <!--CSS -->
    <link rel="me" href="https://twitter.com/twitterdev">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.sansiri.com/ssr-center/css/header-logo-share.css?v=3" />
    <link rel="stylesheet" href="https://www.sansiri.com/ssr-center/css/ssr-footer.css?v=3" />
    <link rel="stylesheet" href="../css/style.css?v=11" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/backoffice.css" />


    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'event': 'set-customdimensions', // This value must not change
            'page': 'governance' // This value dynamically change according to the campaign [URL PATH ENG]
        });
    </script>
</head>

<body>
    <div class="menu-mobile visible-xs">
        <div class="menu-top">
            <div class="menu-inner">
                <div class="lang-switch">
                    <a href="#" id="btn_show_lang" class="btn-dropdown" data-toggle="dropdown">ไทย</a>
                </div>
                <button type="button" class="btn-close-menu visible-xs">close</button>
            </div>
        </div>
        <div class="nav-primary">
            <div class="menu-inner menu-scroll">
                <ul class="nav nav-bar c-nav">
                </ul>
            </div>
        </div>
        <div class="menu-bottom">
            <div class="row-btn-group clearfix">
            </div>
        </div>
        <div class="menu-lang">
            <div class="menu-top">
                <div class="menu-inner">
                    <h2>Change Language</h2>
                </div>
            </div>
            <div class="nav-primary">
                <div id="lang_menu_m" class="menu-inner">
                    <ul>
                        <li id="menu-item-th" class="active"><a href="#">ไทย</a></li>
                        <li id="menu-item-en"><a href="">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="logo">
                <a href="https://www.sansiri.com/thai" target="_blank" class="logo-sansiri-th-svg"></a>
            </div>
            <div class="nav-utilities-top clearfix">
                <div class="lang-switch">
                    <div class="dropdown-container">
                        <a href="#" class="btn-dropdown" data-toggle="dropdown">ไทย</a>
                        <div class="dropdown-box">
                            <ul class="dropdown-list">
                                <li class="active"><a href="#">ไทย</a></li>
                                <li><a href="/en/">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end consistency lang-switch-->
            </div>
        </div>
        <div class="lineHead"></div>
    </div>
    <!-- Page Content -->
    {{{body}}}


    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/main.js?v=3"></script>
    <script src="https://www.sansiri.com/ssr-center/js/project-level.js"></script>
    <script src="https://www.sansiri.com/ssr-center/js/ssr-footer.js"></script>
</body>

</html>