<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="canonical" href="" />
    <!-- Google+ -->
    <meta itemprop="name" content="">
    <meta itemprop="image" content="">
    <meta itemprop="description" content="">
    <!-- Facebook+ -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SansiriPLC" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <!--CSS -->
    <link rel="me" href="https://twitter.com/twitterdev">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.sansiri.com/ssr-center/css/header-logo-share.css?v=3" />
    <link rel="stylesheet" href="https://www.sansiri.com/ssr-center/css/ssr-footer.css?v=3" />
    <link rel="stylesheet" href="../css/style.css?v=11" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">

    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'event': 'set-customdimensions', // This value must not change
            'page': 'governance' // This value dynamically change according to the campaign [URL PATH ENG]
        });
    </script>
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var
    f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K8TTBLD');</script>-->
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <!--   <noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8TTBLD" height="0" width="0"
style="display:none;visibility:hidden"></iframe>
</noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    <div class="menu-mobile visible-xs">
        <div class="menu-top">
            <div class="menu-inner">
                <div class="lang-switch">
                    <a href="#" id="btn_show_lang" class="btn-dropdown" data-toggle="dropdown">ไทย</a>
                </div>
                <button type="button" class="btn-close-menu visible-xs">close</button>
            </div>
        </div>
        <div class="nav-primary">
            <div class="menu-inner menu-scroll">
                <ul class="nav nav-bar c-nav">
                    <!--<li class="c-nav__item active">
               <a class="c-nav__link js-scroll-trigger" href="#home">หน้าหลัก</a>
             </li>
             <li class="c-nav__item">
               <a class="c-nav__link js-scroll-trigger" href="#promotion">โปรโมชัน</a>
             </li>
             <li class="c-nav__item">
               <a class="c-nav__link js-scroll-trigger" href="#register">ลงทะเบียน</a>
             </li>-->
                </ul>
            </div>
        </div>
        <div class="menu-bottom">
            <div class="row-btn-group clearfix">
                <!--<div class="btn-group-share">
                    <a href="#" class="btn-share-page">Share</a>
                    <div class="share-box">
                        <ul class="share-list clearfix">
                            <li class="icon-facebook"><a href="#" class="share-fb">Facebook</a></li>
                            <li class="icon-twitter"><a href="#" class="share-tw">Twitter</a></li>
                            <li class="icon-line"><a href="javascript:;" class="share-line" onClick="window.open('https://lineit.line.me/share/ui?url=')">Line</a> </li>
                        </ul>
                        <a href="#" class="btn-close-share-box">close</a>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="menu-lang">
            <div class="menu-top">
                <div class="menu-inner">
                    <h2>Change Language</h2>
                </div>
            </div>
            <div class="nav-primary">
                <div id="lang_menu_m" class="menu-inner">
                    <ul>
                        <li id="menu-item-th" class="active"><a href="#">ไทย</a></li>
                        <li id="menu-item-en"><a href="">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="logo">
                <a href="https://www.sansiri.com/thai" target="_blank" class="logo-sansiri-th-svg"></a>
            </div>
            <div class="nav-utilities-top clearfix">
                <!--<div class="share-group">
                    <div class="dropdown-container"> <a href="#" class="btn-dropdown btn-share-page" data-toggle="dropdown">Share</a>
                        <div class="dropdown-box">
                            <ul class="dropdown-list">
                              <li class="icon-facebook"><a href="javascript:;" class="share-fb">Facebook</a></li>
                              <li class="icon-twitter"><a href="javascript:;" class="share-tw">Twitter</a></li>
                              <li class="icon-line"><a href="javascript:;" class="share-line" onClick="window.open('https://lineit.line.me/share/ui?url=')">Line</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>-->
                <!--consistency lang-switch-->
                <div class="lang-switch">
                    <div class="dropdown-container">
                        <a href="#" class="btn-dropdown" data-toggle="dropdown">ไทย</a>
                        <div class="dropdown-box">
                            <ul class="dropdown-list">
                                <li class="active"><a href="#">ไทย</a></li>
                                <li><a href="/en/">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end consistency lang-switch-->
            </div>
        </div>
        <div class="lineHead"></div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><span class="line">เลือกอัพเดทข้อมูลข่าวสารจากช่องทางที่ท่านต้องการ</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!--main header-->
    <!-- Page Content -->
    <div id="main-content" methods="POST">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 text-center">
                    <form class="form-horizontal center-block form-content" role="form" id="channel">
                        <div class="col-xs-12">
                            <p>เลือกได้มากกว่า 1 ช่องทาง</p>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 ck text-center">
                                <div class="ck-button"><label><input name="chk" type="checkbox" value="mobile"><span>โทรศัพท์</span></label></div>
                            </div>
                            <div class="col-xs-12 ck text-center">
                                <div class="ck-button"><label><input name="chk" type="checkbox" value="sms"><span>SMS</span></label></div>
                            </div>
                            <div class="col-xs-12 ck text-center">
                                <div class="ck-button"><label><input name="chk" type="checkbox" value="email"><span>อีเมล</span></label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <button type="submit" onclick="onSubmit()" class="btn-primary">ตกลง</button>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <p><a href="call-centre-2.2.html" class="textlink">หยุดรับข้อมูลข่าวสาร เป็นเวลา 90 วัน</a></p>
                            <p><a href="call-centre-2.3.html" class="textlink">หยุดรับข้อมูลข่าวสารทั้งหมด</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>

    <!-- Footer -->
    <div id="ssr-footer">
        <!--call ssr-center ssr-footer.js-->
    </div>
    <!--Footer-->

    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/jquery.maskedinput.min.js"></script>
    <script src="../js/main.js?v=3"></script>
    <script src="https://www.sansiri.com/ssr-center/js/project-level.js"></script>
    <script src="https://www.sansiri.com/ssr-center/js/ssr-footer.js"></script>
    <script>
        //for get value from url
        let params = new URLSearchParams(document.location.search.substring(1));
        let name = params.get("user");
        console.log(name)

        function onSubmit() {
            var selectedChannel = [];
            $('[name="chk"]').each(function () {
                if ($(this).prop('checked') == true) {
                    selectedChannel.push($(this).val());
                }
            });
            //เก็บค่า ที่เลือก เพื่อไปยังหน้าถัดไป
            if (selectedChannel.indexOf("sms") != -1) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        alert('success call subscribe sms page');
                        window.location.href = "http://localhost:3000/subscribe-sms/?choosed=" + selectedChannel;
                    }
                });
                // value to next page
            }



            /*
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: 'http://localhost:3000/api/category',
                success: function (data) {
                    alert('success', data);
                    window.location.href = "http://localhost:3000/sms-sub";
                }
            });
            */

        }


    </script>

</body>

</html>